// Grid size definitions

@import "variables";

$column-number: 12;

$grid-gutter: 5px;

$grid-class: #{$prefix-name}-grid;

$grid-row: #{$prefix-name}-row;


%box-sizing { box-sizing: border-box; }

@mixin create-grid($cols, $prefix: false) {
        
    @if not $prefix {
        $name: #{$grid-class};
    } @else {
        $name: #{$grid-class}-#{$prefix}
    }

    @for $i from 1 through $cols {
        & .#{$name}-#{$i} {
            width: percentage($i/$column-number);
        }
    }
}

.#{$prefix-name}-container{

    margin-left: auto;
    margin-right: auto;
    padding-left: $grid-gutter;
    padding-right: $grid-gutter;
    width: 96%;
    @extend %box-sizing;

    .#{$grid-row} {
        margin-left: -$grid-gutter;
        margin-right: -$grid-gutter;
    }
}

.#{$grid-row} {

    @extend %box-sizing;
    margin:0;
    width:100%;

    &:before, &:after{
        content: ' ';
        display:block;
        clear:both;
    }

    [class*="#{$grid-class}"] {
        @extend %box-sizing;
        float:left;
        margin:0;
        min-height:1px;
        padding: $grid-gutter;
    }

    @include create-grid($column-number);

    @media (min-width: #{$media-tablet}) {
        @include create-grid($column-number, sm);
    }
    
    @media (min-width: #{$media-desktop}) {
        @include create-grid($column-number, md);   
    }

    @media (min-width: #{$media-tv}) {
        @include create-grid($column-number, lg);
    }
}
