// Grid size definitions
$column-number: 12;

$grid-gutter: 5px;

// Grid names definitions

$grid-name: wgm;

$grid-class: #{$grid-name}-grid;

$grid-row: #{$grid-name}-row;

// Media size definitions

$media-desktop: "(min-width: 996px)";

$media-tablet: "(min-width: 768px)";

$media-tv: "(min-width: 1024px)";


// Grid mixin to reuse 
@mixin create-grid($cols, $prefix: false) {
        
    @if not $prefix {
        $name: #{$grid-class};
    } @else {
        $name: #{$grid-class}-#{$prefix}
    }

    @for $i from 1 through $cols {
        & .#{$name}-#{$i} {
            padding: $grid-gutter;
            width: percentage($i/$column-number);
        }
    }
}

.#{$grid-row} {

    box-sizing:border-box;
    margin:0;
    width:100%;
    margin-right: -$grid-gutter;
    margin-left: -$grid-gutter;

    &:before, &:after{
        content: ' ';
        display:block;
        clear:both;
    }

    [class*="#{$grid-class}"] {
        box-sizing: border-box;
        float:left;
        margin:0;
        min-height:1px;
    }

    @include create-grid($column-number, xs);

    @media #{$media-tablet} {
        @include create-grid($column-number, sm);
    }

    @media #{$media-desktop} {
        @include create-grid($column-number);
    }

    @media #{$media-tv} {
        @include create-grid($column-number, lg);
    }
}
