.wgm-input, .wgm-form input[type='text'], .wgm-form input[type='search'], .wgm-form input[type='number'], .wgm-form input[type='password'], .wgm-form input[type='email'], .wgm-form select, .wgm-btn, .wgm-form button, .wgm-form input[type='button'], .wgm-form input[type='submit'], .wgm-form input[type='reset'] {
  border-radius: 4px;
  box-sizing: border-box;
  color: #222;
  font-family: Arial;
  font-size: 14px;
  height: 40px;
  margin: 2px -3.5px 2px 2px;
  outline: none;
  padding: 10px; }

.wgm-input, .wgm-form input[type='text'], .wgm-form input[type='search'], .wgm-form input[type='number'], .wgm-form input[type='password'], .wgm-form input[type='email'], .wgm-form select {
  background-color: #fefefe;
  border: 1px solid #cbcbcb;
  transition: box-shadow .2s linear; }
  .wgm-input:not(select):focus, .wgm-form input[type='text']:not(select):focus, .wgm-form input[type='search']:not(select):focus, .wgm-form input[type='number']:not(select):focus, .wgm-form input[type='password']:not(select):focus, .wgm-form input[type='email']:not(select):focus, .wgm-form select:not(select):focus {
    box-shadow: 0px 0px 3px #3DFAFF; }

.wgm-btn, .wgm-form button, .wgm-form input[type='button'], .wgm-form input[type='submit'], .wgm-form input[type='reset'] {
  background-color: #EfEfEf;
  border: 1px solid #a3a3a3;
  cursor: pointer;
  transition: box-shadow .1s linear; }
  .wgm-btn:hover, .wgm-form button:hover, .wgm-form input[type='button']:hover, .wgm-form input[type='submit']:hover, .wgm-form input[type='reset']:hover {
    box-shadow: 0 0 50px #d6d6d6 inset; }
  .wgm-btn:active, .wgm-form button:active, .wgm-form input[type='button']:active, .wgm-form input[type='submit']:active, .wgm-form input[type='reset']:active {
    transform: translateY(1.5px); }

.wgm-form legend, .wgm-form label {
  font-family: Arial; }

.wgm-btn.wgm-green {
  background-color: #70C870;
  border-color: #5ec15e;
  color: #fff;
  text-shadow: 0 0 1px #777; }
  .wgm-btn.wgm-green:hover {
    box-shadow: 0 0 50px #4bba4b inset; }

.wgm-btn.wgm-red, .wgm-form [type="reset"] {
  background-color: #E06565;
  border-color: #dc5050;
  color: #fff;
  text-shadow: 0 0 1px #777; }
  .wgm-btn.wgm-red:hover, .wgm-form [type="reset"]:hover {
    box-shadow: 0 0 50px #d73b3b inset; }

.wgm-btn.wgm-blue, .wgm-form [type="submit"] {
  background-color: #3C8DBC;
  border-color: #367fa9;
  color: #fff;
  text-shadow: 0 0 1px #777; }
  .wgm-btn.wgm-blue:hover, .wgm-form [type="submit"]:hover {
    box-shadow: 0 0 50px #307095 inset; }

.wgm-btn.wgm-yellow {
  background-color: #DFC42F;
  border-color: #d4b821;
  color: #fff;
  text-shadow: 0 0 1px #777; }
  .wgm-btn.wgm-yellow:hover {
    box-shadow: 0 0 50px #bea51d inset; }

.wgm-form {
  display: block;
  margin: 0 auto;
  transition: width .1s linear; }
  @media (min-width: 996px) {
    .wgm-form.login {
      width: 70%; } }
  .wgm-form.fluid input[type='text'], .wgm-form.fluid input[type='search'], .wgm-form.fluid input[type='number'], .wgm-form.fluid input[type='password'], .wgm-form.fluid input[type='email'], .wgm-form.fluid select, .wgm-form.fluid button, .wgm-form.fluid input[type='button'], .wgm-form.fluid input[type='submit'], .wgm-form.fluid input[type='reset'] {
    width: 100%;
    width: calc(100% - 2px); }
  .wgm-form fieldset {
    background-color: #fafafa;
    border: 1px solid #c9c9c9;
    padding: 5px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 4px 0; }
  .wgm-form legend {
    color: #333;
    font-size: 20px;
    font-weight: bold; }
  .wgm-form label.label {
    font-size: 20px;
    color: #222; }
  .wgm-form select[multiple] {
    height: auto;
    max-height: 120px; }
  .wgm-form .wgm-input-group > label {
    background-color: #d6d6d6;
    border-radius: 4px 0 0 4px;
    border: 1px solid #d6d6d6;
    border-right: none;
    box-sizing: border-box;
    display: block;
    float: left;
    font-family: Arial;
    height: 40px;
    margin-top: 2px;
    margin-top: 2px;
    padding: 10px;
    text-align: center;
    width: 15%; }
  .wgm-form .wgm-input-group label + input[type='text'], .wgm-form .wgm-input-group input[type='search'], .wgm-form .wgm-input-group input[type='number'], .wgm-form .wgm-input-group input[type='password'], .wgm-form .wgm-input-group input[type='email'], .wgm-form .wgm-input-group select {
    border-left: none;
    border-radius: 0 4px 4px 0;
    display: block;
    float: left;
    margin-left: 0;
    width: 84%;
    width: calc(85% - 2px); }
