.wgm-input, .wgm-form input[type='text'], .wgm-form input[type='search'], .wgm-form input[type='number'], .wgm-form input[type='password'], .wgm-form input[type='email'], .wgm-form select, .wgm-btn, .wgm-form button, .wgm-form input[type='button'], .wgm-form input[type='submit'], .wgm-form input[type='reset'], .wgm-input-message, .wgm-form, .wgm-form fieldset, .wgm-form .wgm-input-group > label {
  box-sizing: border-box; }

.wgm-input, .wgm-form input[type='text'], .wgm-form input[type='search'], .wgm-form input[type='number'], .wgm-form input[type='password'], .wgm-form input[type='email'], .wgm-form select, .wgm-btn, .wgm-form button, .wgm-form input[type='button'], .wgm-form input[type='submit'], .wgm-form input[type='reset'] {
  border-radius: 4px;
  color: #222;
  font-family: Arial;
  font-size: 14px;
  height: 40px;
  margin: 2px;
  outline: none;
  padding: 10px; }

.wgm-input, .wgm-form input[type='text'], .wgm-form input[type='search'], .wgm-form input[type='number'], .wgm-form input[type='password'], .wgm-form input[type='email'], .wgm-form select {
  background-color: #fefefe;
  border: 1px solid #cbcbcb;
  transition: box-shadow .2s linear; }
  .wgm-input:not(select):focus, .wgm-form input[type='text']:not(select):focus, .wgm-form input[type='search']:not(select):focus, .wgm-form input[type='number']:not(select):focus, .wgm-form input[type='password']:not(select):focus, .wgm-form input[type='email']:not(select):focus, .wgm-form select:not(select):focus {
    box-shadow: 0px 0px 3px #3DFAFF; }

.wgm-btn, .wgm-form button, .wgm-form input[type='button'], .wgm-form input[type='submit'], .wgm-form input[type='reset'] {
  background-color: #EfEfEf;
  background-image: none;
  border: 1px solid #a3a3a3;
  cursor: pointer;
  margin-left: 0;
  margin-right: 0;
  transition: box-shadow .1s linear;
  vertical-align: middle;
  white-space: nowrap; }
  .wgm-btn:hover, .wgm-form button:hover, .wgm-form input[type='button']:hover, .wgm-form input[type='submit']:hover, .wgm-form input[type='reset']:hover {
    box-shadow: 0 0 50px #d6d6d6 inset; }
  .wgm-btn:active, .wgm-form button:active, .wgm-form input[type='button']:active, .wgm-form input[type='submit']:active, .wgm-form input[type='reset']:active {
    transform: translateY(1.5px); }
  .wgm-btn:after, .wgm-form button:after, .wgm-form input[type='button']:after, .wgm-form input[type='submit']:after, .wgm-form input[type='reset']:after, .wgm-btn:before, .wgm-form button:before, .wgm-form input[type='button']:before, .wgm-form input[type='submit']:before, .wgm-form input[type='reset']:before {
    white-space-collapse: collapse; }

.wgm-input-message, .wgm-form legend, .wgm-form label {
  font-family: Arial; }

.wgm-form .wgm-input-group:after {
  content: ' ';
  display: block;
  clear: both; }

.wgm-input-message {
  background-color: #EfEfEf;
  border: #bcbcbc;
  display: block;
  float: left;
  font-size: 12px;
  margin: 2px;
  padding: 5px;
  width: calc(100% - 2px); }
  .wgm-input-message:empty {
    display: none; }

.wgm-btn.wgm-green {
  background-color: #70C870;
  border-color: #5ec15e;
  color: #fff;
  text-shadow: 0 0 1px #777; }
  .wgm-btn.wgm-green:hover {
    box-shadow: 0 0 50px #4bba4b inset; }

.wgm-btn.wgm-red, .wgm-form [type="reset"] {
  background-color: #E06565;
  border-color: #dc5050;
  color: #fff;
  text-shadow: 0 0 1px #777; }
  .wgm-btn.wgm-red:hover, .wgm-form [type="reset"]:hover {
    box-shadow: 0 0 50px #d73b3b inset; }

.wgm-btn.wgm-blue, .wgm-form [type="submit"] {
  background-color: #3C8DBC;
  border-color: #367fa9;
  color: #fff;
  text-shadow: 0 0 1px #777; }
  .wgm-btn.wgm-blue:hover, .wgm-form [type="submit"]:hover {
    box-shadow: 0 0 50px #307095 inset; }

.wgm-btn.wgm-yellow {
  background-color: #DFC42F;
  border-color: #d4b821;
  color: #fff;
  text-shadow: 0 0 1px #777; }
  .wgm-btn.wgm-yellow:hover {
    box-shadow: 0 0 50px #bea51d inset; }

.wgm-form {
  display: block;
  margin: 0 auto;
  width: 100%; }
  .wgm-form.fluid input[type='text'], .wgm-form.fluid input[type='search'], .wgm-form.fluid input[type='number'], .wgm-form.fluid input[type='password'], .wgm-form.fluid input[type='email'], .wgm-form.fluid select {
    width: 100%;
    width: calc(100% - 2px); }
  .wgm-form fieldset {
    background-color: #fafafa;
    border: 1px solid #c9c9c9;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 0;
    margin-left: 0;
    padding: 5px;
    width: 100%; }
  .wgm-form legend {
    color: #333;
    font-size: 20px;
    font-weight: bold; }
  .wgm-form label {
    color: #222;
    display: inline-block;
    font-weight: bold;
    font-size: 15px;
    line-height: 1.5;
    max-width: 100%;
    padding: 10px; }
  .wgm-form select[multiple] {
    height: auto;
    max-height: 120px; }
  .wgm-form .wgm-input-group > label {
    background-color: #d6d6d6;
    border-radius: 4px 0 0 4px;
    border: 1px solid #d6d6d6;
    border-right: none;
    display: block;
    float: left;
    font-family: Arial;
    height: 40px;
    margin-top: 2px;
    margin-top: 2px;
    padding: 10px;
    text-align: center;
    width: 15%; }
  .wgm-form .wgm-input-group label + input[type='text'], .wgm-form .wgm-input-group input[type='search'], .wgm-form .wgm-input-group input[type='number'], .wgm-form .wgm-input-group input[type='password'], .wgm-form .wgm-input-group input[type='email'], .wgm-form .wgm-input-group select {
    border-left: none;
    border-radius: 0 4px 4px 0;
    display: block;
    float: left;
    margin-left: 0;
    width: 84%;
    width: calc(85% - 2px); }
